# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Track tfvars files
!terraform.tfvars
!*.auto.tfvars
!example.tfvars
!terraform.tfvars.example

# Sensitive keys and secrets
*.pem
*.key
*.pfx

# System files
.DS_Store
Thumbs.db
